@charset "UTF-8";
/* ======================================================
  CSSリセット・初期設定
========================================================= */
*,
*::before,
*::after {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  font: inherit;
  border: none;
}

html,
body {
  height: 100%;
}

body {
  display: grid;
  grid-template-rows: 1fr auto;
  font-family: "Noto Sans JP", sans-serif;
  font-size: 14px;
  line-height: 1.8;
  color: #333;
  letter-spacing: 0.06em;
}
@media screen and (min-width: 768px) {
  body {
    font-size: 16px;
  }
}

/* リンク挙動一括設定 */
a {
  color: #333;
  transition: opacity 0.3s ease;
}

a:hover {
  opacity: 0.7;
}

/* 要素非表示用クラス */
/* 適用元のdisplayに点数負けするのを防ぐため!importantを使用 */
@media screen and (max-width: 767px) {
  .hide-sp {
    display: none !important;
  }
}
@media screen and (min-width: 768px) {
  .hide-pc {
    display: none !important;
  }
}
/* ======================================================
  共通部分
========================================================= */
/* ヘッダー */
.header {
  position: fixed;
  inset: 0 0 auto;
  z-index: 20;
  display: flex;
  justify-content: flex-end;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .header {
    padding: 30px;
  }
}

/* ヘッダーボタン */
.header__button {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  background-color: transparent;
  border: none;
}
@media screen and (min-width: 768px) {
  .header__button {
    display: none;
  }
}
.header__button span {
  position: relative;
  display: block;
  width: 24px;
  height: 1px;
  margin-inline: auto;
  background-color: #333;
}
.header__button span::before,
.header__button span::after {
  position: absolute;
  left: 0;
  display: block;
  width: 100%;
  height: 1px;
  content: "";
  background-color: inherit;
  transition: all 0.3s ease;
}
.header__button span::before {
  top: -7px;
}
.header__button span::after {
  top: 7px;
}
/* ヘッダーボタンopen付与時 */
body.is-open .header__button {
  z-index: 30;
}
body.is-open .header__button span {
  background-color: transparent;
}
body.is-open .header__button span::before,
body.is-open .header__button span::after {
  top: 0;
  background-color: #333;
}
body.is-open .header__button span::before {
  transform: rotate(45deg);
}
body.is-open .header__button span::after {
  transform: rotate(-45deg);
}

/* ナビゲーション */
.navigation {
  position: fixed;
  inset: 0;
  z-index: 10;
  display: flex;
  flex-direction: column;
  gap: 2em;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100%;
  font-family: "Roboto", sans-serif;
  font-size: 16px;
  font-weight: 300;
  list-style: none;
  background-color: #fff;
  transition: transform 0.3s ease;
  transform: translateX(100%);
}
@media screen and (min-width: 768px) {
  .navigation {
    position: static;
    flex-direction: row;
    width: auto;
    height: auto;
    background-color: transparent;
    transform: none;
  }
}
/* ナビゲーションis-open付与時 */
body.is-open .navigation {
  transform: translateX(0);
}

.navigation__item {
  text-transform: uppercase;
}

.navigation__link {
  text-decoration: none;
}

/* メインエリア */
.main {
  width: 100%;
  height: 100%;
  padding: 50px 20px;
}
@media screen and (min-width: 768px) {
  .main {
    display: flex;
    padding: 50px;
    overflow-y: auto;
  }
}

.main__inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: auto;
}

/* メインエリア共通タイトル */
.main__title {
  margin-bottom: 50px;
  font-family: "Roboto", sans-serif;
  font-size: 30px;
  font-weight: 300;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.05em;
}

.main__subTitle {
  display: flex;
  align-items: center;
  margin-bottom: 1em;
  font-size: 18px;
  text-align: center;
}
.main__subTitle span {
  display: flex;
  align-items: center;
}
.main__subTitle span::before {
  display: block;
  width: 1px;
  height: 15px;
  margin-block-end: -3px;
  margin-inline: 1em;
  content: "";
  background-color: #333;
}

/* フッター */
.footer {
  width: 100%;
  padding-block: 1em;
}

.footer__text {
  font-family: "Roboto", sans-serif;
  font-size: 12px;
  font-weight: 300;
  text-align: center;
}

/* ======================================================
  TOPページ
========================================================= */
/* TOPとProfileの背景設定 */
body.top,
body.profile {
  background: url("../img/bg_01.jpg") no-repeat center center/cover;
}

body.top {
  color: #fff;
}
body.top .header__button span {
  background-color: #fff;
}
@media screen and (min-width: 768px) {
  body.top .navigation__link {
    color: #fff;
    text-shadow: 0 0 6px rgba(0, 0, 0, 0.7);
  }
}

/* タイトルロゴ */
.topTitle {
  position: absolute;
  inset: 50% auto auto 50%;
  transform: translate(-50%, -50%);
}

.topTitle__image {
  width: 20vmax;
  height: auto;
  filter: drop-shadow(0 0 10px rgba(0, 0, 0, 0.7));
}
@media screen and (min-width: 768px) {
  .topTitle__image {
    width: 40vmin;
  }
}

/* ======================================================
  PROFILEページ
========================================================= */
body.profile::before {
  position: absolute;
  inset: 0;
  z-index: -1;
  display: block;
  content: "";
  background-color: rgba(229, 229, 229, 0.8);
  -webkit-backdrop-filter: blur(4px);
          backdrop-filter: blur(4px);
}

.profile .main__inner {
  max-width: 430px;
}

.profile__list {
  display: grid;
  grid-template-columns: 4em 1fr;
  gap: 0.5em;
  margin-block-end: 1em;
}

/* ======================================================
  WORKSページ
========================================================= */
/* WORKSサムネイルリスト */
.works__gallery {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 20px;
  margin-inline: auto;
  list-style: none;
}
@media screen and (min-width: 768px) {
  .works__gallery {
    grid-template-columns: repeat(3, 1fr);
    gap: 30px;
  }
}
@media screen and (min-width: 1024px) {
  .works__gallery {
    grid-template-columns: repeat(4, 1fr);
    max-width: 900px;
  }
}

.works__link {
  display: block;
}

.works__image {
  display: block;
  width: 100%;
  aspect-ratio: 1/1;
}