@charset "utf-8";

@media screen and (max-width: 480px) {
  body {
    background-color: #fc0 ;
  }
}

@media screen and (min-width: 960px) {
    body {
      background-color: #0f3;
    }
}

@media screen and (min-width: 481px) and (max-width:959px) {
    body {
      background-color: #0ff;
    }
}

