@charset "utf-8";

/*全体の設定*/
* {
  box-sizing:border-box;
  margin: 0;
  padding: 0;
}

/*背景の設定*/
.bg-hero {
  background: url("../img/bg-hero-sp.jpg") center bottom no-repeat;
  background-size: cover;
  height: 80vh;
}
.bg-info {
  padding: 20% 7% 0;
  color: #fff;
}
.bg-hero h1 {
  text-align: center;
  margin-bottom: 0.75em;
  font-size: 1.625rem;
}
.bg-hero p {
  line-height: 1.8;
  font-size: 0.875rem;
}