@charset "UTF-8";

/*====================
key
=====================*/
.key_title {
    background-image: url(../../img/top_shop.jpg);
    background-size: cover;
    margin-bottom: 80px;
}

.key_title .key_title_inner {
    height: 100vh;
    align-items: center;
    display: flex;
}

.key_title .key_title_inner p {
    width: 100%;
    padding: 16px;
    background-color: rgba(0, 0, 0, 0.4);
}


@media screen and (min-width:769px) {
    .key_title {
        margin-bottom: 160px;
    }

    .key_title .key_title_inner {
        justify-content: center;
    }

    .key_title .key_title_inner p {
        width: 600px;
        padding: 32px;
    }

    /*=========min-width:769px============*/
}

/*====================
concept
=====================*/
.concept {
    padding: 0 16px;
    text-align: center;
    margin-bottom: 80px;
}

.concept p {
    margin-bottom: 16px;
}

@media screen and (min-width:960px) {
    .concept {
        margin-bottom: 160px;
        padding: 0;
    }

    /*=========min-width:960px============*/
}


/*====================
menu
=====================*/
.menu .menu_inner .menu_img {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 16px;
    margin-bottom: 40px;
}

.menu .menu_inner .menu_text {
    text-align: center;
    margin-bottom: 40px;
}

@media screen and (min-width:960px) {


    .menu .menu_inner .menu_img {
        grid-template-columns: repeat(4, 1fr);
        margin-bottom: 80px;
    }

    .menu .menu_inner .menu_text {
        margin-bottom: 80px;
    }

    /*=========min-width:960px============*/
}

/*====================
lesson
=====================*/
.lesson .lesson_box .lesson_img {
    margin-bottom: 40px;
}

.lesson .lesson_box .lesson_text {
    margin-bottom: 40px;
}

@media screen and (min-width:960px) {


    .lesson .lesson_box .lesson_img {
        margin-bottom: 0;
    }

    .lesson .lesson_box {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        align-items: center;
        gap: 40px;
    }

    /*=========min-width:960px============*/
}

/*====================
news
=====================*/
.news .news_inner dl {
    margin-bottom: 24px;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
}